<h2>What is it all about?</h2>

<p>
  This is my first app, that is going to be serious and as awesome as possible, given my skill at this point.
  Main intention is to make versatile cook-book application, with many useful features.
  While many of them are my ideas, most of things about cooking was already invented,
  so I'll focus on making it user friendly while adding a good deal of options.
</p>
<p>
  Cook book project has several purposes:
    <ul>
      <li>Way to show I can code something, so some great company may hire me.</li>
      <li>I love cooking, same as my friends and family, it will be really useful.</li>
      <li>Writing it is a great amount of fun!</li>
    </ul>
</p>